In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

data = pd.read_excel('Cardiotocography/CTG.xlsx','Data',header=1)
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>b</th>
      <th>e</th>
      <th>AC</th>
      <th>FM</th>
      <th>UC</th>
      <th>DL</th>
      <th>DS</th>
      <th>DP</th>
      <th>DR</th>
      <th>LB</th>
      <th>...</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>AD</th>
      <th>DE</th>
      <th>LD</th>
      <th>FS</th>
      <th>SUSP</th>
      <th>CLASS</th>
      <th>NSP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>240</td>
      <td>357</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>120</td>
      <td>...</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>1</td>
      <td>-1</td>
      <td>9</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>632</td>
      <td>4</td>
      <td>0</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>132</td>
      <td>...</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>177</td>
      <td>779</td>
      <td>2</td>
      <td>0</td>
      <td>5</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>133</td>
      <td>...</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>411</td>
      <td>1192</td>
      <td>2</td>
      <td>0</td>
      <td>6</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>134</td>
      <td>...</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>533</td>
      <td>1147</td>
      <td>4</td>
      <td>0</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>132</td>
      <td>...</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>2</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 42 columns</p>
</div>

In [3]:
from sklearn.model_selection import train_test_split
y=data.as_matrix(columns=[data.columns[-1]])
# features
X=data.as_matrix(columns=data.columns[:-1])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
y

array([[2],
       [1],
       [1],
       ...,
       [2],
       [2],
       [1]], dtype=int64)

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

In [5]:
from sklearn.decomposition import PCA
pca = PCA()
X_train_pca = pca.fit_transform(X_train_std)
pca.explained_variance_ratio_

array([1.95754665e-01, 1.16776356e-01, 8.52155637e-02, 6.99929282e-02,
       6.12373548e-02, 5.17307695e-02, 4.47806190e-02, 4.05664402e-02,
       3.27272959e-02, 3.13548902e-02, 2.93038418e-02, 2.78012215e-02,
       2.64185512e-02, 2.45076742e-02, 2.32209922e-02, 2.13338928e-02,
       1.88738759e-02, 1.74789000e-02, 1.27479788e-02, 1.11199421e-02,
       9.16038790e-03, 8.39945683e-03, 6.69867822e-03, 6.61472973e-03,
       5.86545747e-03, 4.19766669e-03, 3.58504664e-03, 3.05596578e-03,
       2.86298898e-03, 1.57625387e-03, 1.27574591e-03, 9.92651124e-04,
       9.24816427e-04, 7.26475669e-04, 5.89133903e-04, 2.73533947e-04,
       2.57257675e-04, 3.86058006e-32, 2.18184204e-33, 8.00075633e-34,
       2.93385592e-34])

In [6]:
plt.bar(range(41), pca.explained_variance_ratio_, alpha=0.5, align='center')
plt.step(range(41), np.cumsum(pca.explained_variance_ratio_), where='mid')
plt.ylabel('Explained variance ratio')
plt.xlabel('Principal components')
plt.show()

In [7]:
from sklearn.svm import LinearSVC
svm1=LinearSVC(C=1.0, max_iter=10000, tol=1e-05, verbose=0)
svm1

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=10000,
     multi_class='ovr', penalty='l2', random_state=None, tol=1e-05,
     verbose=0)

In [8]:
%matplotlib inline 
import matplotlib.pyplot as plt 
import matplotlib.gridspec as gridspec
from distutils.version import LooseVersion as Version
from matplotlib.colors import ListedColormap


svm1=LinearSVC(C=1.0, max_iter=4000, tol=1e-05)


svm1=svm1.fit(X,y)
prediction = [d for d in svm1.predict(X_test_std)]
expected = [d[0] for d in y_test]

yay = 0
nay = 0
for i in range(0, len(prediction)):
    if expected[i] == prediction[i]:
        yay += 1
    else:
        nay += 1
print("Total tested: " + str(len(prediction)))
print("Yay: " + str(yay))
print("Nay: " + str(nay))
print("Precision: " + str(yay/len(prediction)))

Total tested: 638
Yay: 603
Nay: 35
Precision: 0.945141065830721

In [10]:
from sklearn.linear_model import Perceptron
ppn=Perceptron(penalty=None, alpha=0.0001, fit_intercept=True, max_iter=5, tol=None,eta0=0.1, n_jobs=1, random_state=0, class_weight=None, warm_start=False)
ppn.fit(X,y)
prediction = [d for d in ppn.predict(X_test_std)]
expected = [d[0] for d in y_test]

yay = 0
nay = 0
for i in range(0, len(prediction)):
    if expected[i] == prediction[i]:
        yay += 1
    else:
        nay += 1
print("Total tested: " + str(len(prediction)))
print("Yay: " + str(yay))
print("Nay: " + str(nay))
print("Precision: " + str(yay/len(prediction)))

Total tested: 638
Yay: 457
Nay: 181
Precision: 0.7163009404388715